<!-- This is where the footer begins -->
<footer>
<div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class="navbar-text pull-left">
		Web site develop from Niccolò Magnoni
    </div>
    <div class= "navbar-text pull-right">
<!-- Add in your social media / github links here -->
		 <a href="https://www.facebook.com/marco.iadeluca">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </div>
    <!--Below is the copyright information for the site. You can fill in your own here.-->
    <div class="navbar-text pull-left">
    &copy; Digital Projects Studio, 2015
    </div>
</div>	
</footer>